body {
    background-color: #E0F2F1; /* Light turquoise background */
    color: #05668D; /* Darker turquoise for text */
}

.title-span {
    color: #028090; /* Slightly darker turquoise for titles */
}

.subtitle-span {
    color: #06575d; /* Soft turquoise for subtitles */
}

.message-input {
    border: 5px solid #4FBDBA; /* Turquoise border */
    background-color: #B2EBF2; /* Very light turquoise */
    color: #1293b0; /* Darker turquoise for text input */
}

.container-style {
    background-color: #054952; /* Light turquoise background */
}

.chat-datetime {
    color: #028090; /* Slightly darker turquoise for datetime */
}

.chat-box {
    background-color: #6723ed; /* Very light turquoise for chat box */
    color: #05668D; /* Darker turquoise for chat text */
    border: 1px solid #08384b; /* Turquoise border */
}

.user-bubble {
    background-color: #B2EBF2; /* Very light turquoise for user messages */
    color: #05668D; /* Darker turquoise for text */
}

.system-bubble {
    background-color: #80CBC4; /* Medium turquoise for system messages */
    color: #2abed2; /* Deep turquoise for text */
}

/* Customizing code text within markdown */
.chat-message.system-message code {
    color: #61f5e6; /* Slightly darker turquoise for code */
}

.system-error-message {
    color: #e28c1c; /* Soft red for error messages, providing contrast */
}

.chat-top-hr {
    background-color: #a8f5eb; /* Turquoise for top horizontal rule */
}

.chat-bottom-hr {
    background-color: #805309 /* Slightly darker turquoise for bottom horizontal rule */
}

.custom-footer-style {
    color: #063a4e; /* Darker turquoise for footer text */
    background-color: #2cf0dd;
}
